*{
    margin: 0px;
    padding: 0px;
    user-select: none;
    text-decoration: none;
    font-family:'Quattrocento', serif; 
    text-decoration: none !important;
}
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300;500;700&family=Quattrocento&display=swap');



:root{
    --fontbold:'Oswald', sans-serif;
    --fontnormal:'Quattrocento', serif;
    --mainclr: #f1f1f1;
    --sideclr:#3b5998;
    --tran: all 0.5s ease-in-out;
    --fw: 700;

}
body{
    overflow-x: hidden;
}
body::-webkit-scrollbar{
    width: 3px;
    height: 5px !important;
    
}
body::-webkit-scrollbar-thumb{
    
    background-color: white ;
}
body::-webkit-scrollbar-track{
    background-color: black;
}
.navbar{
    height: 70px !important;
    background-color: white;
    border-bottom: 1px solid rgb(218, 215, 215);
    
}

@media screen and (max-width:767px) {
    .navbar{
        height: fit-content !important;
        
        
    }
}
.nav-link{
    margin: 0px 20px;
    text-transform: uppercase;
    font-family: var(--fontnormal);
    color:black !important;
    text-shadow: 2px 2px 2px 2px rgba(255,255,255,.5) !important;
    font-weight: var(--fw);
}
.nav-link:hover{
    color: var(--sideclr) !important;
    transition: var(--tran) !important;
    
}
@media screen and (max-width:991px) {
    .navbar-brand img{
        max-width: 60px;
        max-height: 60px;
    }
}

button{
    outline: none;
    cursor: pointer;
}
#cart-btn{
    border: none;
    font-size: 1.2rem;
    background: none;
    position: relative;
    
}
#cart-count{
     position: absolute;
     top: -11px;
     right: -8px;
     background-color: red;
     color: white; 
     font-size: 1rem;
     width: 20px;
     height: 20px;  
     border-radius: 50%;
     display: flex;
     justify-content: center;
     font-weight: 600;
}
#cart-container{
     position: absolute;
     overflow-y: scroll;
     background-color: white;
     height: 500px;
     width: 100%;
     top: 100%;
     left: 0;
     right: 0;
     box-shadow: 0 3px 8px -2px rgba(0, 0, 0, 0.21);
     display: none;
     z-index: 2;
}
#cart-container.show{
    display: block;
}
#cart-container .product-grid{
    display: flex !important;
    justify-content: space-evenly;
}
#cart-container .product-grid :hover{
    box-shadow: none;
}
#cart-container .product-grid figure{
    display: none;
}
#cart-container .product-grid .rating{
    display: none;
}
#cart-container .cart i{
display: none;
}
#cart-container .product-grid .product-links{
    display: none;
}
#cart-container .product-grid .cart{
    opacity: 0;
}
#cart-container .product-grid .product-name{
    width: 100%;
    font-size: 1.5em;
}
#cart-container .product-grid .product-img{
width: 100%;
}
#cart-container .product-grid .product-content .price2{
    width: 100%;
    font-size: 1em;
    color: black !important;
    }
.cart-items:last-child{
    border-bottom: none ;
}
.cart-item-del-btn{
    position: absolute;
    right: 15px;
    top: 15px;
    padding: 0.05rem 0.45rem;
    border: none;
    color: white;
    background: var(--sideclr);
}

#cart-total{
    display: flex;
    padding: 1rem;
    align-items: center;
    justify-content: flex-start;
    background-color: var(--sideclr);
    color: white;
}
.cart-total-value{
    font-size: 1.3rem;
    font-weight: 500;
}
/* #cart-container .pic{
    width: 100% !important;
    background: linear-gradient(#eee, #bbb);
    border-bottom: 1px solid #aaa;
    display: flex !important;
}
#cart-container .pic img{
    width: 40%;
}
#cart-container .pic .descr{
    width: 60%;
    display: block !important;
}
#cart-container .pic button{
    display: none !important;
} */

.custom-btn {
    width: 130px;
    height: 40px;
    color: #fff;
    border-radius: 5px;
    font-size: small;
    padding: 10px 25px;
    font-family: var(--fontnormal);
    font-weight: 500;
    background: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    text-align: center;
    text-transform: uppercase;
     
    outline: none;
  }

.btn-15 {
  background: var(--sideclr);
  border: none;
  z-index: 1;
}
.btn-15:after {
  position: absolute;
  content: "";
  width: 0;
  height: 100%;
  top: 0;
  right: 0;
  z-index: -1;
  background-color:#6081c9 ;
  border-radius: 5px;
   
  transition: all 0.3s ease;
}
.btn-15:hover {
  color: #fff;
}
.btn-15:hover:after {
  left: 0;
  width: 100%;
}
.btn-15:active {
  top: 2px;
  }
 



  .btn-16 {
    border: 1px solid white;
    z-index: 1;
    font-weight: bold;
  }
  .btn-16:after {
    position: absolute;
    content: "";
    width: 0;
    height: 100%;
    top: 0;
    right: 0;
    z-index: -1;
    background-color:white ;
    color: black;
    font-weight: bold;
    border-radius: 5px;
     
    transition: all 0.3s ease;
  }
  .btn-16:hover {
    color:var(--sideclr);
  }
  .btn-16:hover:after {
    left: 0;
    width: 100%;
  }
  .btn-16:active {
    top: 2px;
    }
    .box {
    margin: auto
}

/* #card{
    display: none;
} */

.heading {
    font-weight: bold;
    font-size: 60px;
    text-transform: capitalize;
    color: var(--sideclr);
    font-weight: bold;
     
}
 /* #card.show{
display: block;
} */

.sub-heading {
    border-top: 1px solid #E0E0E0;
    border-bottom: 1px solid #E0E0E0;
    padding: 9px 0 9px 0;
    margin-top: 25px;
    margin-bottom: 38px;
    font-size: 1.1em;
    color: black;
}

#pop{
    z-index: 1001;
    height: 100%;
    width: 100%;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
}
#card {
    position: relative;
    width: 500px !important;
    height: 515px !important;
    padding: 7%;
    padding-bottom: 30px;
    padding-top: 35px;
    background-color: whitesmoke;
    border-radius: 20px;
   
    
  
}
#close{
    position: absolute;
    top: 1;
    left: 87% ;
}
#close i{
    font-size: 1.5em;
    font-weight: lighter;
    color: grey;
    height: fit-content;
    width: fit-content;
    padding: 5px 7px;
    border: 1px solid var(--sideclr);
   box-sizing: content-box;
   border-radius: 50%;
}
textarea[name="message"] {
    resize: none
}


#e-mail {
    height: 45px
}

#message {
    height: 120px
}

input.input-box,
textarea.input-box {
    background-color: #E0E0E0;
    border: #616161;
    color: #000000;
    font-size: 15px;
    padding: 15px auto 15px auto !important;
    height: 50px !important
}

input.input-box:focus,
textarea.input-box:focus {
    background-color:var(--sideclr);
    color: #ffffff
}

.rm-border:focus {
    border-color: inherit;
    -webkit-box-shadow: none;
    box-shadow: none;
}

form .form-control::-webkit-input-placeholder {
    color: #9E9E9E;
}

::-moz-placeholder {
    color: #9E9E9E !important
}

input.btn-black {
    background-color:var(--sideclr);
    color: #fff;
    font-weight: bold;
    height: 50px;
    width: 100%;
}

.thanks {
    color: #000000 !important;
    text-align: center;
    text-transform: capitalize;
    font-size: 1em;
    font-weight: bold;
}

.thanks:hover {
    color: #000 !important;
    text-decoration :wavy;
}

.conditions {
    font-size: 12px;
    color: grey;
    text-align: center;
}
#banner{
   
    height: 520px;
    width: auto;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: darken;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-duration: 12s;
    text-align: center;
    animation-name: banner;
    backface-visibility: hidden;
   
}

@keyframes banner{
    0%, 30%{
        background-image: url('../Images/pexels-bidvine-1249611.jpg');
        height: 520px !important;
        background-color: rgba(0, 0, 0, .4);
        background-blend-mode: darken;
        backface-visibility: hidden;

    }
    40%, 60%{
     background-image: url('../Images/pexels-pavel-chernonogov-2381463.jpg');
    height: 520px !important;
    background-blend-mode: darken;
    background-color: rgba(0, 0, 0, .6);
    backface-visibility: hidden;
    }
    70%, 100%{
        background-image: url('../Images/delivery.jpg');
    height: 520px !important;
    animation-duration: 12s;
    background-blend-mode: darken;
    background-color: rgba(0, 0, 0, .6);
    backface-visibility: hidden;
    }
    
}
#description{
    padding-top: 14%;
}
#description h1{
    color: white;
    font-family: var(--fontbold);
    font-weight: 950;
    text-shadow: 2px 2px 2px grey;
    text-transform: uppercase;
    font-size: 2.5em;
    margin-bottom: 15px;
    backface-visibility: hidden;
    /* transition: var(--tran); */

}
#description h5{
    color: white;
    font-family: var(--fontnormal);
   margin-bottom: 35px;
   backface-visibility: hidden;

}

@media screen and (max-width:991px) {
    #description{
        padding-top: 20%;
    }  

    #description h5{
        color: white;
        font-family: var(--fontnormal);
       margin-bottom: 35px;
    padding: 0px 5px;
    }
}

@media screen and (max-width:397px) {
    #description{
        padding-top: 30%;
    }  

    #description h5{
        color: white;
        font-family: var(--fontnormal);
       margin-bottom: 35px;
    padding: 0px 5px;
    }

    @keyframes banner{
        0%, 30%{
            background-image: url('../Images/pexels-bidvine-1249611.jpg');
            height: 550px;
            background-color: rgba(0, 0, 0, .4);
            background-blend-mode: darken;
    
        }
        40%, 60%{
         background-image: url('../Images/pexels-pavel-chernonogov-2381463.jpg');
        height: 550px;
        background-blend-mode: darken;
        background-color: rgba(0, 0, 0, .6);
        }
        70%, 100%{
            background-image: url('../Images/delivery.jpg');
        height: 550px;
        animation-duration: 12s;
        background-blend-mode: darken;
        background-color: rgba(0, 0, 0, .6);
        }
        
    }
}
#services{
    height:fit-content ;
    padding: 10px;
     background-color:rgb(248, 248, 248);
     margin: 100px 0;
}
.services h1{
    color: black !important;
    font-family: var(--fontbold);
    text-align: start;
    padding: 2px 10px;
    font-size: 2.5em !important;
    text-transform: capitalize !important;
    font-weight: 700;

    
}
.services p{
    color: black !important;
    font-family: var(--fontnormal);
    text-align: center;
    padding: 2px 5px;
    writing-mode: sideways-lr;
    font-size: 1em !important;
    text-transform: capitalize !important;
    font-weight: 200;
}
.cont{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 100px auto;
}
.cont .box1{
    position: relative;
    width: fit-content;
    max-width: fit-content;
}
.cont .box2{ 
    position: relative;
    width: fit-content;
    max-width: fit-content; 
}
.box1 h1{
    font-size: 2.5em;
    font-family: var(--fontbold);
    font-weight: 900;
    color: white;

}
.box1 h5{
    color: white;
    font-family: var(--font2);
    margin: 10px 0;
}
.box2 h1{
    font-size: 2em;
    font-family: var(--fontbold);
    font-weight: 900;
    color: rgb(53, 51, 51);
    text-transform: capitalize;

}
.box2 h5{
    color: rgb(53, 51, 51);
    font-family: var(--font2);
    margin: 10px 0;
}
.overlay{
    position: absolute;
    bottom: 0;
    top: 0;
    margin: 60px 0;
    width: 100%;
    transition: .5s ease;
    opacity:0;
    font-size: 20px;
    padding: 10px 20px;
}
.overlay2{
    position: absolute;
    bottom: 0;
    top: 0;
    margin: 60px 0;
    width: 100%;
    transition: .5s ease;
    opacity:0;
    font-size: 20px;
    padding: 10px 20px;
}
.box1:hover .overlay{
  opacity: 1;
}
.box2:hover .overlay2{
    opacity: 1;
}
.promise{
    font-size: 3em;
    color:black;
    font-family: var(--fontnormal);
    font-weight: 1000;
    text-transform: capitalize;
}
.cube1{
    width: 90%;
    height: fit-content;
    background-color:var(--mainclr);
    margin: 0px  10px;
    margin-top: 20px;
    padding: 10px 5px;
    border-left: 5px solid var(--sideclr);
    box-sizing: content-box;
    box-shadow: 1px 1px 1px 1px grey;
    color: black;
    font-family: var(--fontbold);
    transition: var(--tran);
    backface-visibility: hidden;
}
.service-1{
    display: flex;
    justify-content: center;
    align-items: center;
}

.cube2{
    width: 90%;
    height: fit-content;
    background-color:var(--sideclr);
    margin: 10px  10px;
    padding: 20px 5px;
    border-left: 5px solid var(--sideclr);
    box-sizing: content-box;
    color: var(--mainclr);
    transition: 2s ease-in-out !important;
}
.cube2 h5{
 font-family:var(--fontnormal);
 padding: 5px;
}
.cube2 h4{
    text-align: center;
    padding: 5px ;
    font-family: var(--fontnormal);
    font-size: medium;
}
.product-head {
    font-size: 3em;
    color:black;
    font-family: var(--fontnormal);
    font-weight: 1000;
    text-transform: capitalize;
    margin: 50px 0px;
}
#quality,#efficency,#servcing,#expert,#invent,#growth{
    display: none;
}

#products{
    background-color: var(--mainclr);
    height: fit-content;
    padding: 10px 5px;
    margin-top: 200px !important ;
}

.img-container img{
    max-width: 500px;
    max-height: 520px;
}
.img-container2 img{
    max-width:  210px;
    max-height: 210px;
}
.product-grid{
    background-color:white;
    font-family: var(--fontnormal);
    text-align: center;
    transition: all 0.3s ease 0s;
    

}
.product-grid h3{
    font-size: 2.2em;
}
.title {
  text-align: start;
  font-size: 2em;
  padding: 10px;
  text-transform: capitalize;
  color: black;

}
.title2{
    text-align: start;
    font-size: 1.2em !important ;
    padding: 10px;
    text-transform: capitalize;
    color: black;
  
  }
.product-grid {
    position: relative;
    overflow:hidden  ;
}

 .product-block span.onsale{
  position: absolute;
    width: 110px;
    height: 80px;
    background-color: var(--sideclr);
    color: #fff;
    top: -33px;
    left: auto;
    right: -50px;
    -webkit-transform: rotate(
45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(
45deg);
    line-height: 118px;
    font-size: 13px;
    font-weight: 400;
    z-index: 5;
    border-radius: 0;
    min-height: 70px;
    text-align: center;
    padding: 2px 0;
} 
figure {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 40px;
    margin-inline-end: 40px;
}
.product-grid:hover{ box-shadow:  0 0 20px -10px rgba(237,29,36,0.3); }
.product-grid .product-image{
    overflow: hidden;
    position: relative;
    transition: all 0.3s ease 0s;
}

.product-grid .product-image a.image{ display: block; }
.product-grid .product-image img{
    width: 100%;
    height: auto;
}
.product-image .pic-1{
    backface-visibility: hidden;
    transition: all 0.5s ease 0s;
}
.product-grid:hover .product-image .pic-1{ opacity: 0; }
.product-image .pic-2{
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    transition: all 0.5s ease 0s;
}
.product-grid:hover .product-image .pic-2{ opacity: 1; }
.product-grid .product-links{
    padding: 0;
    margin: 0;
    list-style: none;
    opacity: 0;
    position: absolute;
    bottom: 0;
    right: 10px;
    transition: all 0.3s ease 0s;
}
.product-grid:hover .product-links{ opacity: 1; }
.product-grid .product-links li{
    margin: 0 0 10px 0;
    transform: rotate(360deg) scale(0);
    transition: all 0.3s ease 0s;
}

.product-grid:hover .product-links li{ transform: rotate(0) scale(1); }
.product-grid:hover .product-links li:nth-child(3){ transition-delay: 0.1s; }
.product-grid:hover .product-links li:nth-child(2){ transition-delay: 0.2s; }
.product-grid:hover .product-links li:nth-child(1){ transition-delay: 0.3s; }
.product-grid .product-links li a{
    color:white;
    background-color:var(--sideclr);
    font-size: 18px;
    line-height: 42px;
    width: 40px;
    height: 40px;
    border-radius: 50px;
    display: block;
    transition: all 0.3s ease 0s;
}
.product-grid .product-links li a:hover{
    color:var(--sideclr);
    background-color: var(--mainclr);
    border: 2px solid var(--sideclr);
   
}
.product-grid .product-content{
    text-align: left;
    padding: 15px 10px;
}
.product-grid .rating{
    padding: 0;
    margin: 0 0 7px;
    list-style: none;
}
.product-grid .rating li{
    color: #f7bc3d;
    font-size: 13px;
}
.product-grid .rating li.far{ color: #777; }

.product-grid .title a:hover{ color: #ed1d24; }
.product-grid .price{
    color:black;
    font-size: 2.2em;
    font-weight: 700;
}
.cart {
  text-align: center;
  margin: 0 0 10px 0;
  color: white;
    background-color:var(--sideclr);
    font-size: 18px;
    line-height: 42px;
    width: 40px;
    height: 40px;
    border-radius: 50px;
    display: block;
}
.cart:hover{
    color:var(--sideclr);
    background-color: var(--mainclr);
    border: 2px solid var(--sideclr);  
}
.rating i{
    color: gold;
    padding-bottom: 2px;
}


.trending{
    margin-left: 30px;
    font-size: 2em;
    color:black;
    font-family: var(--fontnormal);
    font-weight: 1000;
    text-transform: capitalize;

}
/* .trending-image img{
    display: block;
    max-height: 100px;
   max-width: 100px;
} */
.testimonial-image{
    margin: 0 auto;
  }
  .testimonial-image img{
    display: block;
    max-width: 100px;
    max-height: 100px;
    border-radius: 100%;
    border: 5px solid rgba(0, 0, 0, .2);
    box-sizing: content-box;
  }
  .testimonial-text{
    color:white;
  font-size: 18px;
  font-style: italic;
  position: relative;
  padding-left: 15px;
  margin: 0 auto;
  max-width: 790px;
  

  }

.testimonial-text p::before{
content: open-quote;
font-size: 1.5em;
color: white;
font-weight: 950;
}
.testimonial-text p::after{
content: close-quote;
font-size: 1.5em;
color: white ;
font-weight: 900;
}
.testimonial-name{
font-size: 2em;
color: royalblue;
text-transform: uppercase;
}
.carousel-inner{
    background-image: url('../Images/2.jpg' ); background-position: center; background-repeat: no-repeat; 
    background-size: cover;
     height: fit-content;
      padding: 60px 0px;
      background-blend-mode: darken;
      background-color: rgba(0, 0, 0, .7);
}
.blog{
    background-color: var(--mainclr);
    height: fit-content;
    padding: 10px 0px;
    margin: 120px 0px;
}
.blog-name h1{
    font-family: var(--fontbold);
    font-size: 2.8em;
    font-weight: 1000;
    color: #363636 !important;
    margin: 50px 0px;
}
.blog-card{
    width: 25rem;
}
#footer{
    background-color: var(--mainclr);
    height: fit-content;
  }
  #socials{
    padding: 0 30px;
    border-right: 1px solid rgb(148, 146, 146);
    /* border-color: hsla(0,0%,100%,.1) !important; */
}
#newsletter{
    padding: 0 30px;
    border-left: 1px solid rgb(151, 150, 150);
   
}

  
  #socials ul{
    list-style: none;
    margin: 0px auto;
    margin-top: 10px;
  }
  #socials ul li  {
    margin: 20px 0px;
    color: black;
  }
.infos{
      border: 1px solid black;
      height: 30px;
      width: 32px;
      text-align: center;
      border-radius: 50%;
      padding: 5px;
      box-sizing: content-box;
      
  }
  #socials h3{
      margin: 10px 30px;
      color: black !important;
      font-weight: bold;
  }
  .social-info p{
    margin: 20px 30px;
    color: black !important;
}
  #socials ul li p{
    font-family: var(--fontnormal);
  }
  .icon{
   margin: 10px 20px;
  }
  .icon i{
    font-size: x-large;
    margin: 0px 10px;
    color: black;
  }
  #useful-links h3{
      color: black !important;
      font-weight: bold;
  }
  .navigate li a{
    text-transform: capitalize;
    text-decoration: none;
    color: black !important; ;
    font-family: var(--fontnormal);
    font-weight: 500;
    margin: 10px 0px;

  }
  .navigate li{
    list-style: none;
    margin-top: 15px;
  
  }
 .input-group input{
    height: 40px;
    width: 150px;
    padding: 10px 10px;
    
  
  }
  .newl{
    border-radius: 30px;
    font-family: var(--fontnormal);
    font-weight: bold;
  }
  .input-group-text{
    border-radius: 30px;
    background-color: var(--sideclr);
    color: white;
    padding: 5px 20px;
  }
 
 
  #newsletter h3{
      color: black !important;
      font-weight: bold;
      margin-bottom: 20px;
      margin-left: 20px;
  }

  @media screen and (max-width:375px) {
    .blog-card{
        width: 18rem !important;
    }

  }